<div style="color:white; font-size: 2.2rem; margin-left: 0%; font-family: 'Courier New', Courier, monospace; text-decoration: underline ;">
    <p style="text-align: center;">Events</p>
</div>
<br>
<br>
<div class="container">
    <section class="main">

        <ul class="ch-grid">
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                            <h3>Mean Stack</h3>
                            <p>Mongo, Express, Angular, Node <a href="#">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-2"></div>
                        <div class="ch-info-back">
                            <h3>Java</h3>
                            <p>Core Java, Advance Java<a href="#">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-3"></div>
                        <div class="ch-info-back">
                            <h3>Python</h3>
                            <p>Using Flask and Django<a href="#">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </section>

</div>