    <!-- starting -->
<div class= "topheading">
        <div class="container">
            <div class="row">
                <div class="main-box col-lg-11 col-md-11 col-sm-11" style=" height:1200px; margin-left:15%">              
                    <div class="row">
                        
                         <!-- left-side-box or profile -->
                        <div class=" left-box col-lg-4 col-md-4 col-sm-4" style="  height:1200px; border:1px solid black;float:left">
                            <img src="../../assets/images/images.jpg" class="profilebackground">
                            <h3>User Name</h3>
                            <p>office manager</p>
                            <div class="contact-container container-block ">
                                <ul class="list-unstyled contact-list">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <li class="email"><i class=" fas fa-envelope" id="icon"></i>&nbsp; username@web.com</li>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <li class="github"><i class=" fab fa-github" id="icon"></i>&nbsp; github.com/username</li>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <li class="linkedin"><i class="fab fa-linkedin" id="icon"></i>&nbsp; linkedin.com/in/user</li>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <li class="twitter"><i class="fab fa-twitter" id="icon"></i>&nbsp; @twittername</li>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <li class="phone"><i class="fas fa-phone-volume" id="icon"></i>&nbsp; 0123 456 789</li>
                                    </div>
                                </ul>
                            </div>
                            <br>

                            <!-- personal information -->
                            <div class="container-fluid" id="personalinfo">
                                <div class="container" id="personal-information">
                                  <h6>PERSONAL INFORMATION</h6>  
                                </div>
                                <div class="container"id="info-1">
                                        <h6 class="subhead">Father's Name:</h6>
                                        <p class="subhead-2">Ram Kumar</p>
                                </div>
                                <div class="container"id="info-2">
                                        <h6 class="subhead"> Date of Birth:</h6>
                                        <p class="subhead-2">dd/mm/yy</p>
                                </div>
                                <div class="container"id="info-3">
                                        <h6 class="subhead">Nationality:</h6>
                                        <p class="subhead-2">Indian</p>
                                </div>
                                <div class="container"id="info-4">
                                        <h6 class="subhead">Gender:</h6>
                                        <p class="subhead-2">Female</p>
                                </div>
                                <div class="container"id="info-5">
                                        <h6 class="subhead">Languages:</h6>
                                        <p class="subhead-2">English & Hindi</p>
                                </div>
                            </div>
                        </div>

                        <!-- right-side-box -->
                        <div class="right-box col-lg-7 col-md-7 col-sm-7" style=" height:1200px;  border:1px solid black; ">
                            <h2 class="tagline animated infinite fadeInDown delay-2s">"This above all:to thine own self be true"</h2>
                            <div class="container-fluid">
                                <div class="container"id="firstbox">
                                    <h5>CARRER OBJECTIVE & SKILLS</h5>
                                </div>
                                <br>
                                <div class="container"id="subtext">
                                    <p class="subtext-1"></p>
                                    <p class="txt1">
                                      To be associated with your progressive organization with a dynamic work sphere in the order to extract my inherent skill as a professional.to futhr the organization's objective and also attain my career target in progress.</p>
                              <ul class="text2">
                                  <li>Strong Communication Skills</li>
                                  <li>Leadership-Has Been Headgirl at School</li>
                                  <li>Co-opearte</li>
                                  <li>Strong Communication Skills</li>
                              </ul>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="container-fluid">
                                    <div class="container"id="firstbox">
                                        <h5>ACADEMIC BACKGROUND</h5>
                                    </div>
                                    <div class="container"id="subtext">
                                        <p class="subtext-1"></p>
                                        <h5 class="t1">SECONDARY & SR. SECONDARY</h5>
                                        <H6 class="t2">Guru Harkrishan public school</H6>
                                        <h6 class="t3"> CBSE</h6>
                                        <h6 class="t4">2014</h6>
                                        <h6 class=t5>Sr.Secondary-96%</h6>
                                        <br>
                                        <h6 class="t4">2012</h6>
                                        <h6 class=t5>Secondary-98%</h6>                                   
                                      </div>
                                </div>
                            <br>
                            <br>
                            <div class="container-fluid">
                                    <div class="container"id="firstbox">
                                        <h5>WORK EXPERIENCE</h5>
                                    </div>
                                    <div class="container"id="subtext">
                                        <p class="subtext-1"></p>
                                        <h6 class="e1">CYBERNAUT TECT</h6>
                                        <h6 class="e2">Web development as Intern</h6>
                                        <h6 class="e3">june2019-july2019</h6>
                                    </div>
                                </div>
                            <br>
                            <br>
                            <div class="container-fluid">
                                    <div class="container"id="firstbox">
                                        <h5>ACHIEVEMENTS</h5>
                                    </div>
                                    <br>
                                    <div class="container"id="subtext">
                                        <p class="subtext-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, officia d</p>
                                    </div>
                                </div>
                                 </div>
                     </div>
                </div>
            
        </div>
    </div>
  </div>
