<div class="row" style="margin-right: 0px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
  <h5 class="text-center">User Profile</h5>
    </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <!-- <h2>intern nexsus</h2> -->
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7" style="border: 1px solid black; background-image: linear-gradient(to right top, #a0de34, #00c578, #00a3a5, #007baa, #005186, #004878, #00406a, #00375c, #094965, #255b6c, #406c73, #5d7d7b); border-radius: 15px;">
    <div class=col-lg-12 style="border: 1px solid black; margin-top:-10px; background-image: linear-gradient(to right top, #a0de34, #00c578, #00a3a5, #007baa, #005186, #004878, #00406a, #00375c, #094965, #255b6c, #406c73, #5d7d7b); border-radius: 15px;">
      <p style="color: aliceblue;">Edit Profile</p>
      <p style="color: aliceblue">Complete your profile</p>
  </div>
  <Form>
      <div class="form-row ">
          <div class="form-group col-md-6">
            <label for="inputEmail4" style="color: aliceblue; margin-top: 5%;">User Name</label>
            <input type="email" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;" id="inputEmail4" placeholder=" Enter your User Name">
          </div>
          <div class="form-group col-md-6" style="margin-top: 2.2%;">
              <label for="inputPassword4" style="color: aliceblue;">Email Address</label>
              <input type="password" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputPassword4" placeholder=" Enter your Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="color: aliceblue;">First Name</label>
                <input type="password" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputPassword4" placeholder="Enter First Name">
              </div>
              <div class="form-group col-md-6" style="margin-top: 0%;">
                  <label for="inputPassword4" style="color: aliceblue;">Second Name</label>
                  <input type="password" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputPassword4" placeholder="Enter Second Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress" style="color: aliceblue;">Phone Number</label>
                    <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;" id="inputAddress" placeholder="Enter Phone Number">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputAddress2" style="color: aliceblue;">Birthday</label>
                      <input type="date" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress2">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress" style="color: aliceblue;">University</label>
                        <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter University Name">
                      </div>
                      <div class="form-group col-md-12">
                          <label for="inputAddress" style="color: aliceblue;">College Name</label>
                          <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter College Name">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputAddress" style="color: aliceblue;">Preferred field for Intership</label>
                            <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress">
                          </div>
                          <div class="form-group col-md-12">
                              <label for="inputAddress" style="color: aliceblue;">Preferred location for Intership</label>
                              <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress" style="color: aliceblue;">Location 1</label>
                                <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputAddress" style="color: aliceblue;">Location 2</label>
                                  <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputAddress" style="color: aliceblue;">Location 3</label>
                                    <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="inputAddress" style="color: aliceblue;">Course</label>
                                      <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter course">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress" style="color: aliceblue;">Stream</label>
                                        <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter Stream">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputAddress" style="color: aliceblue;">Number Of Backlogs:</label>
                                          <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>4</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress" style="color: aliceblue;">Year Gap::</label>
                                            <select class="form-control">
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              </select>
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputAddress" style="color: aliceblue;">state</label>
                                              <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter State">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputAddress" style="color: aliceblue;">City</label>
                                                <input type="text" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;"  id="inputAddress" placeholder="Enter City">
                                              </div>
                                              <div class="form-group col-md-12 text-center">
                                                  <input class="btn btn-primary" type="submit" style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1); cursor: pointer;"  value="Submit"/> 
                                              </div>
                                              
                 </div>

  </Form>
  </div>
  <div class="col-lg-3 col-md-3 col-md-3 text-center">
    <div class="col-md-12">
      <div class="card card-profile">
        <div class="card-avatar">
 
          <a href="#pablo">
            <img class="img" src="../../assets/images/shil.jpg">
          </a>
       
        </div>
        <div class="card-body">
          <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          <h4 class="card-title">Alec Thompson</h4>
          <p class="card-description">
            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          </p>
          <a href="#pablo" style="background-color:blueviolet; "class="btn btn-primary btn-round">Follow</a>
        </div>
      </div>
    </div>
    </div>
    
  

</div>
  
     
  
      
  


